#div_main {

width:75%;
background-color: #79a3ff;


}



.div_child{

background-color: white;
margin: 5px;
width: 100px;
height: 100px;
float: left;



}


.div_child2{

    background-color: white;
    margin: 5px;
    width: 100px;
    height: 100px;
   
    
    }


#div_gizle{

width: 250px;
height: 250px;
background-color:aquamarine;
display: none;



}

#div_gizle_hidden{

    width: 250px;
    height: 250px;
    background-color:rgb(255, 246, 127);
    visibility: hidden;
    
    
    
    }
    



#div_goster{

    width: 500px;
    height: 100px;
    background-color:rgb(200, 102, 184);

    
    
    
    }