#table_hizlama_border{

border: 1px solid blue;
width: 500px;
height: 500px;
border-collapse:collapse;

}


#table_hizlama_border tr td{


    border: 1px solid red;

    text-align: center;
    vertical-align: top;


}


td:hover{
    background-color:#ddd;
 
 }